@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-SemiBold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd.ttf");
    font-weight: 400;
}

.logo {
    height: 5vh;
}

.logobar {
    padding: 6vh;
}

.gilroy {
    font-family: "Gilroy";
}

.circular {
    font-family: "Circular";
}

.cs-red {
    color: #ff385a;
}

body {
    height: 100vh;
}

#landing {
    background-image: url(/images/jpg/blob_2.jpg);
    background-size: cover;
    height: 100vh;
}

.text-holder {
    padding: 20vh 0;
}

.text-holder i {
    font-size: 24px;
    padding-right: 16px;
    color: black;
}

.cs-text {
    margin-bottom: 8vh;
}

@media only screen and (max-width: 600px) {
    .cs-text {
        margin-bottom: 4vh;
    }
    .text-holder {
        padding: 4vh 2vh;
    }
    
    .logobar {
        padding: 4vh;
    }
    
    .logo {
        height: 4vh;
    }
    body {
        font-weight: inherit;
    }
}